.app.dark{
  --bg-color: #041531;
  --inverted-bg-color: #FFFFFF;
  --primary-color: #FFFFFF;
  --inverted-primary-color: #121212;
  --secondary-color: #cccaca;
  --inverted-secondary-color: #121212;
  --text-color: #FFFFFF;
  --inverted-text-color: #121212;
  --border-color: #FFFFFF;
}