.app.light{
    --bg-color: #FFFFFF;
    --inverted-bg-color: #041531;
    --primary-color: #052154;
    --inverted-primary-color: #FFFFFF;
    --secondary-color: #FFFFFF;
    --inverted-secondary-color: #041531;
    --text-color: #041531;
    --inverted-text-color: #FFFFFF;
    --border-color: #041531;
}