.app.dark{
  --bg-color: #080e4b;
  --inverted-bg-color: #FFFFFF;
  --primary-color: #063ca1;
  --inverted-primary-color: #121212;
  --secondary-color: #707070;
  --inverted-secondary-color: #121212;
  --text-color: #FFFFFF;
  --inverted-text-color: #121212;
  --border-color: #FFFFFF;
}