.app.light{
    --bg-color: #FFFFFF;
    --inverted-bg-color: #041531;
    --primary-color: #316ace;
    --inverted-primary-color: #4b4b4b;
    --secondary-color: #FFFFFF;
    --inverted-secondary-color: #082b65;
    --text-color: #041531;
    --inverted-text-color: #FFFFFF;
    --border-color: #041531;
}